/*font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared styles */
:root {
    --primary-color: rgb(19, 19, 24);
    --secondary-color: rgb(19, 19, 24, 0.7);
    --orange-color: rgb(255, 84, 0);
    --white-color: rgb(255, 255, 255);
    --description-color: rgb(90, 90, 93);
    --font-size: 1rem;
    --font-mulish: "Mulish", sans-serif;
    --font-inter: "Inter", sans-serif;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: rgb(255, 255, 230);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.header {
    padding: 50px;
}

/* navigation styles */
.nav {
    display: flex;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    margin-right: 380px;
}

.nav>ul {
    display: flex;  
}

.nav li {
    list-style: none;
    margin-right: 44px;
    font-family: var(--font-mulish);
    color: rgb(66, 66, 71);
    font-size: 1.125rem;
    font-weight: 400;
    position: relative;
    z-index: 10;
}

.nav li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.nav li:nth-child(1) a,
.nav li:nth-child(1) a:hover {
    color: var(--orange-color);
}

.nav h3:hover,
.nav li:hover,
.banner-description:hover,
.footer-container h3:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.nav li a:hover {
    color: #b30059;
}

.nav-img {
    width: 56px;
    height: 48px;
    margin-top: 10px;
    margin-right: 20px;
}

.nav-title {
    font-family: var(--font-mulish);
    color: var(--primary-color);
    font-size: 2.25rem;
    font-weight: 800;
    margin-top: 10px;
    white-space: nowrap;
}

.travel {
    color: var(--orange-color);
}

.banner {
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url("../Images/Group\ 13.png");
    background-repeat: no-repeat;
    position: relative;
    width: 1197px;
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

.banner-title {
    color: var(--white-color);
    font-family: var(--font-mulish);
    font-size: 4rem;
    font-weight: 800;
    margin: 10px 287px 0;
}

.banner-description {
    color: var(--white-color);
    font-family: var(--font-mulish);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 20px;
    width: 60%;
}

.find {
    display: flex;
    gap: 24px;
    padding: 16px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    align-items: center;
}

.travel-form {
    display: flex;
}

.nav a,
.find a,
.popular-content a,
.deals-container a,
.place-description a,
.place-content a,
.newsletter-box a,
.footer-container a {
    text-decoration: none;
}

.box {
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.5);
    font-family: var(--font-mulish);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background-color: var(--white-color);
    border: none;
    outline: none;
    margin-right: 20px;
    padding: 10px;
}

.btn-primary {
    background-color: var(--orange-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 12px 25px;
    border: 0;
    cursor: pointer;
}

.btn-primary:hover {
    background: #800080;
    color: rgb(182, 235, 235);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.search {
    width: 30px;
    height: 30px;
}

.find-text {
    margin-left: 5px;
    font-family: var(--font-mulish);
    font-size: 1rem;
    font-weight: 700;
}

.travel-title {
    color: var(--primary-color);
    font-family: var(--font-mulish);
    font-size: 2.5rem;
    font-weight: 800;
}

.travel-description {
    color: var(--secondary-color);
    font-family: var(--font-mulish);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 26px;
}

.popular {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px; 
}

.popular-content {
    flex-basis: 50%;
    max-width: 600px;
}

.travel-description>ul {
    margin-top: 30px;
}

.travel-description li {
    margin-bottom: 20px;
}

.popular-text {
    font-family: var(--description-color);
    margin-top: 40px;
    margin-bottom: 30px;
    max-width: 90%;
}

.btn-text {
    font-family: var(--font-mulish);
    font-size: 1.25rem;
    font-weight: 800;
}

.popular-image {
    flex-basis: 50%;
    max-width: 600px;
}

.destination-content {
    margin-top: 100px;
    text-align: center;
}

.destination-title {
    color: rgb(153, 51, 51);
}

.destination-description, .choose-description, .deals-description {
    text-align:center;
    max-width: 60%;
    margin: 0 auto;
}

.destination-images {
    margin-top: 50px;
    display: grid;
    justify-content: center;
}

.row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.destination-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: var(--font-mulish);
    font-size: 1.75rem;
    font-weight: 800;
}

.santorini {
    position: absolute;
    top: 32%;
    left: 60%;
}

.destination-text:hover {
    color: #ccffcc;
    transform: scale(1.1) translate(-50%, calc(-50% - 10px));
    transition: transform 0.3s ease-in-out;
}

.choose {
    background: var(--white-color);
    margin-top: 100px;
    padding: 30px 50px;
    box-sizing: border-box;
}

.choose-content {
    padding: 20px;
    text-align: center;
}

.choose-title {
    color: rgb(128, 0, 96);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px;
}

.card-title {
    color: var(--primary-color);
    font-family: var(--font-mulish);
    font-size: 1.5rem;
    font-weight: 800;
}

.description-text {
    color: var(--description-color);
    font-family: var(--font-mulish);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 26px;
}

.card1,
.card2,
.card3 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    padding: 30px 100px 30px 30px;
    box-sizing: border-box; /* Ensure padding doesn't affect size */
}

.card1 {
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
}

.card2 {
    border: 1px solid rgba(41, 206, 246, 0.2);
    background: rgba(41, 206, 246, 0.05);
}

.card3 {
    border: 1px solid rgba(233, 68, 68, 0.2);
    background: rgba(233, 68, 68, 0.05);
    grid-column: span 2; /* Make .card3 span across two columns */
    justify-self: center;
    width: 50%;
}

.card-container h4 {
    color: rgb(128, 0, 128);
}

.card-container p {
    width: 118%;
    color: rgb(128, 0, 0);
    line-height: 1.25rem;
    margin-top: -20px;
}

.card2:hover {
    background: rgb(204, 255, 230);
}

.card1:hover,
.card3:hover {
    background: rgb(255, 179, 209);
}

.deals-content {
    margin-top: 100px;
    text-align: center;
}

.deals-title {
    color: rgb(153, 0, 51);
}

.deals-container {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    gap: 24px;
    margin-top: 50px;
}

.deals-card {
    box-sizing: border-box;
    width:579px;
    height:389px;
    border: 2px solid var(--white-color);
    border-radius: 16px;
    padding: 40px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
}

.position1 {
    position: absolute;
    top: 10%;
    left: 46%;
}

.position2 {
    position: absolute;
    top: 10%;
    left: 5%;
}

.info {
    display: flex;
    gap: 30px;
}

.deals-card h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.duration,
.quantity,
.location {
    display: flex;
    align-items: center;
    gap: 5px;
}

.duration img,
.quantity img,
.location img {
    width: 27px;
    height: 29px;
}

.deals-card-description {
    max-width: 70%;
}

.price {
    color: var(--orange-color);
    font-family: var(--font-mulish);
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.place {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.place-content {
    margin-top: -40px;
    flex-basis: 50%;
    max-width: 550px;
}

.place-title {
    color: rgb(128, 0, 0);
}

.place-description, .newsletter-description {
    max-width: 80%;
}

.place-content>ul {
    max-width:95%;
    color: var(--primary-color);
    font-family: var(--font-mulish);
    font-size: var(--font-size);
    font-weight: 700;
    line-height: 26px;
    margin: 30px 0;
}

.place-content li {
    margin: 20px 0;
}

.video-container {
    width: 610px;
    height: 424px;
    flex-basis: 50%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(19, 19, 24) -31.958%, rgba(19, 19, 24, 0) 100%);
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: none;
}

.place-text {
    position: absolute;
    top: 25%;
    left: 25%;
    color: var(--white-color);
    font-size: 1.75rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
    text-align: center;
}

.newsletter {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.newsletter-content {
    margin-top: -20px;
}

.newsletter-title {
    color: rgb(128, 0, 64);
}

.newsletter-box {
    box-sizing: border-box;
    border: 1px solid rgb(255, 84, 0);
    max-width: 500px;
    height: 422px;
    /* margin: 0 auto; */
    border-radius: 16px;
    padding: 30px 10px 30px 30px;
}

.newsletter-box hr {
    border: 1px solid rgba(19, 19, 24, 0.1);
    margin-top: 20px;
    margin-right: 20px;
    width: 393px;
}

.newsletter-box input[type="text"],
.newsletter-box input[type="email"] {
    width: 393px;
    height: 52px;
    border: 0;
    outline-color: #b30059;
    border-radius: 8px;
    background: rgb(128, 255, 204);
    margin: 10px auto;
    padding: 20px;
}

.newsletter-box input[type="text"]::placeholder,
.newsletter-box input[type="email"]::placeholder {
    color: rgb(153, 51, 51);
    font-family: var(--font-mulish);
    font-size: var(--font-size);
    font-weight: 400;
}

.newsletter-box input[type="text"]:focus,
.newsletter-box input[type="email"]:focus,
.newsletter-box input[type="text"]:valid,
.newsletter-box input[type="email"]:valid {
    background-color: rgb(10, 173, 173);
    color: rgb(153, 51, 51);
}

.newsletter-box button {
    width: 393px;
    height: 52px;
    margin-top: 20px;
}

.btn-newsletter {
    position: absolute;
    top: 56%;
    left: 50%;
    border-radius: 16px;
    background: rgb(255, 84, 0);
    width: 300px;
    height: 120px;
    transform: rotate(-19.63deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-newsletter:hover {
    background: rgb(255, 0, 102);
    color: rgb(182, 235, 235);
    transform: scale(1.1) rotate(-19.63deg);
    transition: transform 0.3s ease-in-out;
}

.travel-text {
    color: var(--white-color);
    font-family: var(--font-mulish);
    font-size: 1.5rem;
    font-weight: 400;
}

.save-text {
    color: var(--white-color);
    font-family: var(--font-mulish);
    font-size: 2rem;
    font-weight: 400;
    white-space: nowrap;
    margin-top: -10px;
}

footer {
    width: 100%;
    margin-top: 120px;
    background: rgba(19, 19, 24, 0.05);
    padding: 20px 0;
    z-index: 1;
    overflow: hidden;
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer-title {
    color: var(--primary-color);
    font-family: var(--font-mulish);
    font-size: 2rem;
    font-weight: 800;
}

.footer-container img {
    width: 46px;
    height: 40px;
    margin-top: 12px;
    margin-right: 10px;
}

.footer-content p {
    margin-top: -10px;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--primary-color);
    /* Icon color */
    font-size: 20px;
    /* Icon size */
    text-decoration: none;
}

.social-icon:hover {
    color: #bf4080;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.footer-content hr {
    border: 1px solid rgba(19, 19, 24, 0.1);
    margin: 50px auto;
}

.footer-text {
    color: var(--primary-color);
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: 300;
    margin-top: 50px;
}

/* responsive media queries */
/* Styles for smartphones */
@media screen and (max-width:600px) {
    .header {
        padding: 0px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        margin: 50px 350px 20px 20px;
    }

    .nav-img {
        width: 33.52px;
        height: 28.72px;
        margin-right: 10px;
    }

    .nav-title {
        font-size: 1.346rem;
    }

    .banner {
        width: 335px;
        height: 483px;
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 16px;
    }

    .banner-title {
        font-size: 1.375rem;
        margin: 10px 60px 0;
    }

    .banner-description {
        width: 90%;
        font-size: 0.875rem;
        line-height: 21px;
        margin-top: 10px;
    }

    .box {
        margin: 0;
    }

    .find {
        margin-top: 10px;
    }

    .travel-form {
        display: flex;
        flex-direction: column;
        gap:15px;
    }

    .popular {
        margin-top: 30px;
        margin-left: -100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .travel-title {
        font-size: 1.25rem;
    }
    
    .travel-description {
        font-size: 0.875rem;
        line-height: 24px;
        width: 20%;
    }

    .travel-description>ul {
        margin-top: 30px;
        margin-left: -15px;
    }
}